.targets-body {
  text-align: left;
  width: 50%;
  margin: 0 auto;
  padding-top: 10px;
}

p {
  margin: 0;
}

.emphasis {
  font-weight: bold;
}

.target-list {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.targets-inactive {
  margin-top: 20px, 0;
}

.target-list-inactive {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  opacity: 0.4;
}
