/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~font-awesome/css/font-awesome.css';
@import '~bootstrap3/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.knot-wiz .progress {
  position: relative;
  top: 40px;
  left: 12.5%;
  z-index: -1;
  width: 75%;
}
.knot-wiz .nav-link {
  width: 32px;
  height: 32px;
  margin: 0 auto 0.25rem;
  padding: 0;
  border-radius: 50% !important;
  background-color: #e9ecef;
  border: 2px solid #e9ecef;
  box-sizing: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: border-color linear 0.2s, background-color linear 0.2s;
}
.knot-wiz .nav-link .oi,
.knot-wiz .nav-link .step {
  transition: all linear 0.2s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}
.knot-wiz .nav-link .oi {
  opacity: 0;
  position: absolute;
  top: 100%;
}
.knot-wiz .nav-link.active {
  border-color: #007bff;
}
.knot-wiz .nav-link.completed {
  border-color: #28a745;
  color: #28a745;
  background-color: #fff;
}
.knot-wiz .nav-link.completed .step {
  opacity: 0;
}
.knot-wiz .nav-link.completed .oi {
  opacity: 1;
  top: calc(50% + 1px);
}
