.body {
  text-align: left;
  width: 50%;
  margin: 0 auto;
  padding-top: 10px;
}

p {
  margin: 0;
}

.emphasis {
  font-weight: bold;
}

.tap-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
