.Tap {
  display: flex;
  border: 1px solid #d3d3d3;
  width: 220px;
  margin-right: 20px;
  margin-top: 20px;
}

a:hover {
  text-decoration: none;
}

.logoContainer {
  margin: 5px;
}

.logo {
  height: 70px;
  width: 70px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  margin-left: 10px;
}

.name {
  width: 100%;
  color: black;
}

.repo {
  width: 100%;
}
