.tapsBody {
  text-align: left;
  width: 50%;
  margin: 0 auto;
  padding-top: 10px;
}

p {
  margin: 0;
}

.emphasis {
  font-weight: bold;
}

.tapList {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.tapsInactive {
  margin-top: 40px;
}

.tapListInactive {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  opacity: 0.4;
}

.knot-wiz .progress {
  position: relative;
  bottom: calc(-1.25rem + 1px);
  left: 12.5%;
  z-index: -1;
  width: 75%;
}
.knot-wiz .nav-link {
  width: 32px;
  height: 32px;
  margin: 0 auto 0.25rem;
  padding: 0;
  border-radius: 50% !important;
  background-color: #e9ecef;
  border: 2px solid #e9ecef;
  box-sizing: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: border-color linear 0.2s, background-color linear 0.2s;
}
.knot-wiz .nav-link .oi,
.knot-wiz .nav-link .step {
  transition: all linear 0.2s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}
.knot-wiz .nav-link .oi {
  opacity: 0;
  position: absolute;
  top: 100%;
}
.knot-wiz .nav-link.active {
  border-color: #007bff;
}
.knot-wiz .nav-link.completed {
  border-color: #28a745;
  color: #28a745;
  background-color: #fff;
}
.knot-wiz .nav-link.completed .step {
  opacity: 0;
}
.knot-wiz .nav-link.completed .oi {
  opacity: 1;
  top: calc(50% + 1px);
}
