.emphasis {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.connectBody {
  text-align: left;
  width: 50%;
  margin: 0 auto;
  padding-top: 10px;
}

.docker {
  margin-top: 10%;
  text-align: center;
}

.dockerButton {
  margin-top: 15px;
}
